# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build artifacts
bin/project3Debug.app
obj/
bin/data/model/

# Xcode related
*.xcworkspace
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
